@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}


    <!-- COMPONENT ANCHOR -->
    <a id="pos_1157"></a>
    <!--// COMPONENT ANCHOR -->
        <section class="content advanced-component banner">
            <div class="slides">
                        <div class="item short primary_colour_1-bg">
						
						
							

                            <div class="image">
                                <img src="/media/1056/banner01.jpg?anchor=center&amp;mode=crop&amp;width=1600&amp;height=550&amp;rnd=130911221620000000" alt="1600x550 Demo Image">
                            </div>
                                <div class="info">
                                    <div class="container valign">
                                        <!-- ROW -->	
				                        <div class="row">
					
					                        <div class="col-md-6 col-xs-12 text-left">
<h1 class="heading main secondary_colour_3-text">Specialists in clean &amp; renewable energy solutions</h1>                                                                                                    <div class="text secondary_colour_3-text">
                                                        <p><span class="intro">Ut nunc urna, fringilla nec blandit et, accumsan vitae nibh. Praesent pharetra pellentesque pulvinar.</span></p>
                                                    </div>
                                                                                                    <p class="link"><a role="button" class="btn btn-lg secondary_colour_3-bg primary_colour_1-text" href="/ICET/"  >Read more</a></p>
                                            </div>
                                        </div>
                                        <!--// ROW -->
                                    </div>
                                </div>
                        </div>
                        <div class="item short primary_colour_2-bg">
						
						
							

                            <div class="image">
                                <img src="/media/1057/banner02.jpg?anchor=center&amp;mode=crop&amp;width=1600&amp;height=550&amp;rnd=130911221600000000" alt="1600x550 Demo Image">
                            </div>

                                <div class="info">
                                    <div class="container valign">
                                        <!-- ROW -->	
				                        <div class="row">
					
					                        <div class="col-md-6 col-xs-12 text-left">
<h2 class="heading main secondary_colour_3-text">More intelligent energy planning in our cities</h2>                                                                                                    <div class="text secondary_colour_3-text">
                                                        <p><span class="intro">Ut nunc urna, fringilla nec blandit et, accumsan vitae nibh. Praesent pharetra pellentesque pulvinar.</span></p>
                                                    </div>
                                                                                                    <p class="link"><a role="button" class="btn btn-lg secondary_colour_3-bg primary_colour_1-text" href="/CLAT/"  >Read more</a></p>
                                            </div>
                                        </div>
                                        <!--// ROW -->
                                    </div>
                                </div>
                        </div>
                        <div class="item short primary_colour_2-bg">
						
						
							

                            <div class="image">
                                <img src="/media/1058/banner03.jpg?anchor=center&amp;mode=crop&amp;width=1600&amp;height=550&amp;rnd=130911221570000000" alt="1600x550 Demo Image">
                            </div>

                                <div class="info">
                                    <div class="container valign">
                                        <!-- ROW -->	
				                        <div class="row">
					
					                        <div class="col-md-6 col-xs-12 text-left">
<h3 class="heading main secondary_colour_3-text">Helping to reach every edge of the grid</h3>                                                                                                    <div class="text secondary_colour_3-text">
                                                        <p><span class="intro">Ut nunc urna, fringilla nec blandit et, accumsan vitae nibh. Praesent pharetra pellentesque pulvinar.</span></p>
                                                    </div>
                                                                                                    <p class="link"><a role="button" class="btn btn-lg secondary_colour_3-bg primary_colour_1-text" href="/ICET/"  >Read More</a></p>
                                            </div>
                                        </div>
                                        <!--// ROW -->
                                    </div>
                                </div>
                        </div>
            </div>
        </section>


    <!-- COMPONENT ANCHOR -->
    <a id="pos_1162"></a>
    <!--// COMPONENT ANCHOR -->
        <section class="content advanced-component promo_pods secondary_colour_2-bg">
            <div class="container">

                <!-- ROW - OVERVIEW -->
                <div class="row overview os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 text-center">
<h3 class="heading main primary_colour_1-text">Courses & Training</h3>                                                    <div class="text ">
                                <p><span class="intro">Commited for quality. </span></p>
                            </div>
                    </div>
                </div>
                <!--// ROW - OVERVIEW -->
                
                <!-- ROW -->
                <div class="row">
                        <div class="item col-md-4 col-sm-6 col-xs-12  os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                            <div class="inner primary_colour_1-bg">
<a href="/listing/"  >                                                                    <div class="image">
                                        <img src="/media/1076/shutterstock_22396648.jpg?anchor=center&amp;mode=crop&amp;width=345&amp;height=260&amp;rnd=130911232430000000" alt="360x270 Demo Image">
                                    </div>
                                                                    <p class="heading secondary_colour_3-text">ICET</p>
                                </a>                                                                    <div class="info">
                                        <div class="text secondary_colour_3-text"><p>
The Integrated Common Entrance Test (ICET) is a qualifying examination for admission into MCA ( Master of Computer Application) and MBA ( Master of Business Administration).</p></div>
                                    </div>
                                                                    <p class="link"><a role="button" class="btn secondary_colour_3-bg primary_colour_1-text" href="/listing/"  >Read More</a></p>
                            </div>
                        </div>
                        <div class="item col-md-4 col-sm-6 col-xs-12  os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                            <div class="inner primary_colour_2-bg">
<a href="/layouts/"  >                                                                    <div class="image">
                                        <img src="/media/1077/shutterstock_127070723.jpg?anchor=center&amp;mode=crop&amp;width=345&amp;height=260&amp;rnd=130911233090000000" alt="360x270 Demo Image">
                                    </div>
                                                                    <p class="heading secondary_colour_3-text">CLAT</p>
                                </a>                                                                    <div class="info">
                                        <div class="text secondary_colour_3-text"><p>Common Law Admission Test (CLAT) is a centralised test for admission to 17 prominent National Law Universities in India. The test is taken after the Higher Secondary Examination.</p></div>
                                    </div>
                                                                    <p class="link"><a role="button" class="btn secondary_colour_3-bg primary_colour_1-text" href="/layouts/"  >Read More</a></p>
                            </div>
                        </div>
                        <div class="item col-md-4 col-sm-6 col-xs-12  os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                            <div class="inner secondary_colour_1-bg">
<a href="/standard-page/"  >                                                                    <div class="image">
                                        <img src="/media/1078/shutterstock_174082043.jpg?anchor=center&amp;mode=crop&amp;width=345&amp;height=260&amp;rnd=130911233530000000" alt="360x270 Demo Image">
                                    </div>
                                                                    <p class="heading secondary_colour_3-text">Banks & POs</p>
                                </a>                                                                    <div class="info">
                                        <div class="text secondary_colour_3-text"><p>Designation Probationary Officers holds (PO) in banks. A PO holds the designation of an Assistant Manager (AM) on Probation. He is in Junior Management Grade-1 (JMG-Scale 1).</p></div>                                    </div>
                                                                    <p class="link"><a role="button" class="btn secondary_colour_3-bg primary_colour_1-text" href="/standard-page/"  >Read More</a></p>
                            </div>
                        </div>
                </div>
                <!--// ROW -->


            </div>
        </section>


    <!-- COMPONENT ANCHOR -->
    <a id="pos_1167"></a>
    <!--// COMPONENT ANCHOR -->
    <section class="content advanced-component text-with-image_video primary_colour_1-bg">
        <div class="container">

            <!-- ROW -->
            <div class="row">

                <div class="col-md-5 col-xs-12 pull-left os-animation" data-os-animation="fadeIn" data-os-animation-delay="0">

                    <!-- INFO -->
                    <div class="info">
                        
<h3 class="heading main secondary_colour_3-text">About us</h3>
                            <div class="text secondary_colour_3-text">
                                <p class="intro">With a Noble objective to share knowledge and give right direction to JOB aspirantsin our Town and around ... a new mission under taken by  <br/>  N Vijaya Saradhi<br/> M.A(socio), M.A(Pwb.Ad), B.l, PGDCJ,B.Th,former Programme head ,All India Radio former Resouce person for DFIF,Former Nodel officer,PMs Flagship Programmes In Ap <br/><br/></p>
                            </div>
                        
                            <p class="link"><a role="button" class="btn primary_colour_2-bg secondary_colour_3-text" href="/advanced-page/"  >Find out more</a></p>
                    </div>
                    <!--// INFO -->

                </div>

                <div class="col-md-6 col-xs-12 pull-right">

                        <div class="image video os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0">

                            <img alt="720x495 Demo Image" src="/media/1066/shutterstock_92183098.jpg?anchor=center&amp;mode=crop&amp;width=720&amp;height=495&amp;rnd=130911232830000000">

                        </div>

                </div>


            </div>
            <!--// ROW -->

        </div>
    </section>

    <!-- COMPONENT ANCHOR -->
    <a id="pos_1168"></a>
    <!--// COMPONENT ANCHOR -->
    <section class="content advanced-component text-with-image_video secondary_colour_3-bg">
        <div class="container">

            <!-- ROW -->
            <div class="row">

                <div class="col-md-5 col-xs-12 pull-right os-animation" data-os-animation="fadeIn" data-os-animation-delay="0">

                    <!-- INFO -->
                    <div class="info">
                        
<h3 class="heading main primary_colour_1-text">Vijaya saradhi Study circle</h3>
                            <div class="text ">
                                <p class="intro">Reaserach Oreiented coaching <br/>Commited,Experienced faculty<br/>special focus on Attitude Change <br/>Participatory methodologies <br>Effective Short cuts to understand as well to Answer</p>
<p>Result/Sucess Oriented preparations.Expert Faculty from Hyderabad/Chennai/Delhi Every week Regular Mock test series  Peroically Evalutions and Corrections ,Monthly Seminars</p>
                            </div>
                        
                    </div>
                    <!--// INFO -->

                </div>

                <div class="col-md-6 col-xs-12 pull-left">

                        <div class="image video os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0">
<a href="http://vimeo.com/51610638" data-title="Example Video" data-toggle="lightbox" data-remote="http://player.vimeo.com/video/51610638">
                            <img alt="720x495 Demo Image" src="/media/1067/shutterstock_109839692.jpg?center=0.72284644194756553,0.39&amp;mode=crop&amp;width=720&amp;height=495&amp;rnd=130911266090000000">

<div class="overlayicon"><i class="fa fa-play fa-3x"></i></div></a>                        </div>

                </div>


            </div>
            <!--// ROW -->

        </div>
    </section>

     <!-- COMPONENT ANCHOR -->
    <a id="pos_1169"></a>
    <!--// COMPONENT ANCHOR -->
    <section class="content advanced-component blog-with-form secondary_colour_2-bg">
        <div class="container">

            <!-- ROW -->
            <div class="row">

                <div class="col-md-7 col-xs-12 pull-left os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0">

                    <!-- LISTING - BLOG -->
                                    <div class="listing blog">
                                                                                
<h4 class="heading main primary_colour_1-text">Latest from the Blog</h4>                                        
                                            <div class="item" itemscope itemtype="http://schema.org/BlogPosting">
                                                <div class="info">
                                                    <a href="/blog/posts/2015/august/useful-coding-tips/" itemprop="url">

                                                        <p class="heading primary_colour_1-text" itemprop="name headline">
                                                            Useful coding tips
                                                        </p>
                                                    </a>
                                                        <div class="text " itemprop="articleBody"><p>An "intro" paragraph class senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit a ...</p></div>
                                                </div>
                                                
<div class="meta panel panel-default">
    <div class="panel-body">
        <div>
                        <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
                            Posted by
                                <a itemprop="url" rel="author" href="https://uskinned.net/blog/" target="blank"  title="Link will open in a new window/tab" >Joe Bloggs<i class="fa fa-external-link after"></i></a>
                            on
                        </span>

            <time itemprop="datePublished" datetime="2015-00-14"><span class="date">14 Aug 2015</span></time>
        </div>
        <div class="row">

            <span class="categories col-sm-6 text-right col-xs-12 text-left-xs pull-right">
                    <span><a href="/blog/?category=1297" title="Technology" rel="NOINDEX, FOLLOW">Technology</a>, </span>
                    <span><a href="/blog/?category=1299" title="ASP.NET" rel="NOINDEX, FOLLOW">ASP.NET</a></span>
</span>
        </div>
    </div>
</div>

                                            </div>
                                            <div class="item" itemscope itemtype="http://schema.org/BlogPosting">
                                                <div class="info">
                                                    <a href="/blog/posts/2015/july/get-your-seo-in-order/" itemprop="url">

                                                        <p class="heading primary_colour_1-text" itemprop="name headline">
                                                            Get your SEO in order
                                                        </p>
                                                    </a>
                                                        <div class="text " itemprop="articleBody"><p>An "intro" paragraph class senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit a ...</p></div>
                                                </div>
                                                
<div class="meta panel panel-default">
    <div class="panel-body">
        <div>
                        <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
                            Posted by
                                <a itemprop="url" rel="author" href="https://uskinned.net/blog/" target="blank"  title="Link will open in a new window/tab" >Joe Bloggs<i class="fa fa-external-link after"></i></a>
                            on
                        </span>

            <time itemprop="datePublished" datetime="2015-00-24"><span class="date">24 Jul 2015</span></time>
        </div>
        <div class="row">

            <span class="categories col-sm-6 text-right col-xs-12 text-left-xs pull-right">
                    <span><a href="/blog/?category=1300" title="SEO" rel="NOINDEX, FOLLOW">SEO</a></span>
</span>
        </div>
    </div>
</div>

                                            </div>
                                        <p class="link"><a class="btn primary_colour_1-bg secondary_colour_3-text" href="/blog/"  >See all</a></p>
                                    </div>
                                    <script type="text/javascript">
                                        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                                        var disqus_shortname = ''; // required: replace example with your forum shortname

                                        /* * * DON'T EDIT BELOW THIS LINE * * */
                                        (function () {
                                            var s = document.createElement('script'); s.async = true;
                                            s.type = 'text/javascript';
                                            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
                                            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
                                        }());
                                    </script>


                    <!--// LISTING - BLOG -->

                </div>

                <div class="col-md-4 col-xs-12 pull-right os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0">

                    	
<form action="/umbraco/Surface/NewsletterSignupSurface/HandleNewsletterSubmit" data-ajax="true" data-ajax-loading="#NewsletterAjaxLoading1169" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#NewsletterSignupContainer1169" id="form0" method="post"><input data-val="true" data-val-number="The field CurrentNodeID must be a number." data-val-required="The CurrentNodeID field is required." id="CurrentNodeID" name="CurrentNodeID" type="hidden" value="1169" /><input data-val="true" data-val-number="The field ActualPageID must be a number." data-val-required="The ActualPageID field is required." id="ActualPageID" name="ActualPageID" type="hidden" value="1155" /><input name="__RequestVerificationToken" type="hidden" value="bNmF4IrIN9ze4wHY9tygbNZqvsG13CQOnTI4terGwVZZtK3ksOxwbM0q1v0_KgnSRaiUwT_T-ja2EzaCgJH7RGKBveQV-CsO6V_SjT9M2vs1" />        <div class="newsletter ajax_wrap panel panel-default">
        <div class="panel-body">

<p class="heading main">Stay in touch</p>
<p>Signup to receive all the latest news from uSkinned.</p>                <div id="NewsletterSignupContainer1169">
                    <div class="alert alert-danger alert-dismissible fade in" id="NewsletterError1169" style="display:none">
                    </div>
                    <fieldset>
                        <div class="form-group">
                            <label for="FirstName" class="control-label">
                                First name <em class="req">*</em>
                            </label>
                            <input class="form-control" data-val="true" data-val-required="The FirstName field is required." id="FirstName" name="FirstName" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="FirstName" data-valmsg-replace="false">The &#39;First name&#39; field is required</span>
                        </div>
                        <div class="form-group">
                            <label for="LastName" class="control-label">
                                Last name <em class="req">*</em>
                            </label>
                            <input class="form-control" data-val="true" data-val-required="The LastName field is required." id="LastName" name="LastName" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="LastName" data-valmsg-replace="false">The &#39;Last name&#39; field is required</span>
                        </div>
                        <div class="form-group">
                            <label for="Email" class="control-label">
                                Email address <em class="req">*</em>
                            </label>
                            
                            <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="false">Please enter a valid Email address</span>
                        </div>
                    </fieldset>
                    <fieldset>
                        <button class="btn primary_colour_1-bg secondary_colour_3-text" type="submit">
                            <span>Send</span>
                        </button>
                    </fieldset>
                    <div class="ajax_loading" id="NewsletterAjaxLoading1169" style="display:none">
                        <div class="loading">
                            <span class="message">Signing up to newsletter, please wait.</span>
                        </div>
                    </div>
                </div>
								
        </div>					
        </div>
</form>

                </div>

            </div>
            <!--// ROW -->

        </div>
    </section>

    <!-- COMPONENT ANCHOR -->
    <a id="pos_1361"></a>
    <!--// COMPONENT ANCHOR -->
        <section class="content advanced-component image_carousel primary_colour_2-bg">
            <div class="container">

					<!-- ROW - OVERVIEW -->
					<div class="row overview os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
						<div class="col-md-8 col-sm-10 col-xs-12">
<p class="heading main secondary_colour_3-text">We work with the biggest brands</p>															<div class="text secondary_colour_3-text">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel sit amet, consectetur adipiscing elit.</p>
								</div>
						</div>
					</div>
                    
					<!-- ROW -->
					<div class="row">
						<div class="col-xs-12">
							<div class="gallery slides">
										<div class="item">
											<div class="image">
<a href="https://uskinned.net"  title="Link will open in a new window/tab"  target="blank"">												<img src="/media/1059/logo_0000_layer-7.jpg?anchor=center&amp;mode=crop&amp;width=300&amp;height=160&amp;rnd=130911261860000000" alt="300x160 Demo Image">
														<div class="overlayicon"><i class="fa fa-external-link after"></i></div>
</a>											</div>
										</div>
										<div class="item">
											<div class="image">
<a href="/advanced-page/"  ">												<img src="/media/1064/logo_0005_layer-1.jpg?anchor=center&amp;mode=crop&amp;width=300&amp;height=160&amp;rnd=130911261860000000" alt="300x160 Demo Image">
														<div class="overlayicon"><i class="fa fa-link"></i></div>
</a>											</div>
										</div>
										<div class="item">
											<div class="image">
<a href="http://umbraco.com/"  title="Link will open in a new window/tab"  target="blank"">												<img src="/media/1060/logo_0001_layer-6.jpg?anchor=center&amp;mode=crop&amp;width=300&amp;height=160&amp;rnd=130911261860000000" alt="300x160 Demo Image">
														<div class="overlayicon"><i class="fa fa-external-link after"></i></div>
</a>											</div>
										</div>
										<div class="item">
											<div class="image">
												<img src="/media/1061/logo_0002_layer-4.jpg?anchor=center&amp;mode=crop&amp;width=300&amp;height=160&amp;rnd=130911261870000000" alt="300x160 Demo Image">
											</div>
										</div>
										<div class="item">
											<div class="image">
												<img src="/media/1063/logo_0004_layer-2.jpg?anchor=center&amp;mode=crop&amp;width=300&amp;height=160&amp;rnd=130911261870000000" alt="300x160 Demo Image">
											</div>
										</div>
										<div class="item">
											<div class="image">
												<img src="/media/1062/logo_0003_layer-3.jpg?anchor=center&amp;mode=crop&amp;width=300&amp;height=160&amp;rnd=130911261870000000" alt="300x160 Demo Image">
											</div>
										</div>
							</div>
						</div>
					</div>
					<!--// ROW -->
							
							

		
            </div>
        </section>



	



	


    <!-- OUTRO STRIP -->
    
        <section class="content advanced-component cta-strip secondary_colour_3-bg">
            <div class="container">

                <!-- ROW -->
                <div class="row">
					
                    <div class="col-xs-12">
						
						<h4 class="heading main primary_colour_1-text">Outro strip heading</h4>
								
                    </div>

                </div>
                <!--// ROW -->
                <!-- ROW -->
                <div class="row">
							
                    <div class="col-md-8 col-xs-12">
						
						<div class="text ">
                        <p><span class="intro">Mauris ante augue, fringilla non accumsan at, imperdiet vel ipsum. Nunc hendrerit, felis nec hendrerit varius, lacus leo euismod mi, a pulvinar sapien libero.</span></p>
						</div>
								
                    </div>
                                        <div class="col-md-3 col-xs-12 pull-right">

                        <p class="link"><a class="btn btn-block btn-lg primary_colour_2-bg secondary_colour_3-text" href="/advanced-page/"  >Advanced Page</a></p>

                    </div>

                </div>
                <!--// ROW -->

            </div>
        </section>

     <!--// OUTRO STRIP -->

   