<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT BlogPost ANY>
<!ATTLIST BlogPost id ID #REQUIRED>
<!ELEMENT BlogPostRepository ANY>
<!ATTLIST BlogPostRepository id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT LandingPage ANY>
<!ATTLIST LandingPage id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>
]>
<root id="-1">
  <Home id="1063" key="8a29c9d0-4a66-4ffc-93f7-4001a3c6f9bf" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-01-25T13:45:23" updateDate="2017-02-01T17:00:33" nodeName="Home" urlName="home" path="-1,1063" isDoc="" nodeType="1060" creatorName="B Anil Kumar" writerName="B Anil Kumar" writerID="0" template="1056" nodeTypeAlias="Home">
    <siteDescription><![CDATA[This is an official Umbraco Starter kit. It shows of the newest features in Umbraco and is the perfect place to start for newcomers.. Everything is made to be taken apart. It's your own little playground. Enjoy!]]></siteDescription>
    <siteLogo><![CDATA[/media/1082/synergy_logo.jpg]]></siteLogo>
    <siteTitle><![CDATA[Fanoe - Umbraco Starter Kit]]></siteTitle>
    <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></content>
    <LandingPage id="1064" key="b55c19eb-0c91-4c47-875b-f6fc14cbb2e7" parentID="1063" level="2" creatorID="0" sortOrder="0" createDate="2017-01-25T13:45:23" updateDate="2017-01-31T18:14:49" nodeName="ICET" urlName="icet" path="-1,1063,1064" isDoc="" nodeType="1061" creatorName="B Anil Kumar" writerName="B Anil Kumar" writerID="0" template="1057" nodeTypeAlias="LandingPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "ICET",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": true
                },
                {
                  "value": "something about Icet",
                  "editor": {
                    "alias": "paragraph"
                  },
                  "active": true
                }
              ],
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "7f2d7ced-3a0b-b7eb-479c-b42685894e6a",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></content>
    </LandingPage>
    <LandingPage id="1068" key="a96ebb2a-97c1-46dc-8cbc-f886e28ee31c" parentID="1063" level="2" creatorID="0" sortOrder="1" createDate="2017-01-25T13:45:23" updateDate="2017-01-31T18:15:43" nodeName="CLAT" urlName="clat" path="-1,1063,1068" isDoc="" nodeType="1061" creatorName="B Anil Kumar" writerName="B Anil Kumar" writerID="0" template="1057" nodeTypeAlias="LandingPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "CLAT",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "Something about CLAT",
                  "editor": {
                    "alias": "paragraph"
                  },
                  "active": true
                }
              ],
              "active": true,
              "hasActiveChild": true
            }
          ],
          "hasConfig": false,
          "id": "06d88053-89a3-f750-ec0e-d6226800b24f",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></content>
    </LandingPage>
    <LandingPage id="1079" key="9a652a58-e982-42b6-abe3-7eb66d5fc3de" parentID="1063" level="2" creatorID="0" sortOrder="4" createDate="2017-01-25T13:45:23" updateDate="2017-01-31T19:16:20" nodeName="Banks&amp;po" urlName="bankspo" path="-1,1063,1079" isDoc="" nodeType="1061" creatorName="B Anil Kumar" writerName="B Anil Kumar" writerID="0" template="1057" nodeTypeAlias="LandingPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Banks & Po",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "Something about Banks & po",
                  "editor": {
                    "alias": "paragraph"
                  },
                  "active": true
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "aaa0858d-f233-7150-7098-b1944b30a1b6"
        }
      ]
    }
  ]
}]]></content>
    </LandingPage>
    <LandingPage id="1086" key="fb88805f-6b93-4fbd-9425-f9dfe5dd8cce" parentID="1063" level="2" creatorID="0" sortOrder="5" createDate="2017-01-27T10:52:13" updateDate="2017-02-01T12:27:58" nodeName="About Us" urlName="about-us" path="-1,1063,1086" isDoc="" nodeType="1061" creatorName="B Anil Kumar" writerName="B Anil Kumar" writerID="0" template="1057" nodeTypeAlias="LandingPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Contact Us",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>Adress:</p>\n<p>Email</p>\n<p>Phone Number:</p>\n<p>and etc</p>\n<p> </p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "a9069398-c797-37af-3a36-7a647029a99e"
        }
      ]
    }
  ]
}]]></content>
    </LandingPage>
    <LandingPage id="1114" key="70a9ba8e-267e-4ed6-a307-c28d1a7119f6" parentID="1063" level="2" creatorID="0" sortOrder="6" createDate="2017-02-01T12:26:33" updateDate="2017-02-01T12:28:05" nodeName="Contact" urlName="contact" path="-1,1063,1114" isDoc="" nodeType="1061" creatorName="B Anil Kumar" writerName="B Anil Kumar" writerID="0" template="1057" nodeTypeAlias="LandingPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Contact",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>Adress:</p>\n<p>Email</p>\n<p>Phone Number:</p>\n<p>and etc</p>\n<p> </p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "500ef2f4-e218-4aa6-1cb4-ffcfa918f410"
        }
      ]
    }
  ]
}]]></content>
    </LandingPage>
  </Home>
</root>